<ion-view cache-view="false" >
  <ion-nav-buttons side="right" >
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>אישור טפסים</span>
  </ion-nav-title>
  <ion-content class="pele-background">
    <ion-refresher pulling-text="משוך לרענון..."  on-refresh="doRefresh()">
    </ion-refresher>
    <div class="row-top">
      <img src="img/DocApprove/header_3.png" class="pele-img-size">
    </div>
    <div class="list category-feeds">
      <a ng-repeat="source in category_sources" class="item item-icon-right" ng-click="onClick(source.MODULE_NAME)">
        <div class="app-button">
          <!--<span class="title">{{source.MODULE_DESC}}</span>-->
          <p class="description">{{source.MODULE_NAME}}&nbsp;({{source.DOCUMENT_QTY}})</p>
        </div>
        <!--<i class="icon ion-arrow-right-c"></i>-->
        <!--<span class="badge badge-assertive">{{source.DOCUMENT_QTY}}</span>-->
      </a>
    </div>
  </ion-content>
</ion-view>

